
.header{
    font-family: 'Baloo Bhai', cursive;
    border: 2px solid black;
    background-color: black;
    opacity: 0.6;
}

.left {
    color: white;
    display: inline-block;
    position: absolute;
    left: 106px;
    top: 5px;

}

.left img {
    width: 60px;
    filter: invert(100%);
}

.left div {
    text-align: center;
    margin-left: -13px;
}

.right {
    color: white;
    display: block;
    width: 33%;
    margin: 10px auto;
    margin-right: 2px;
}
 
.navbar {
    display: inline-block;
}

.navbar li {

    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color:white;
    text-decoration: none;
    padding: 34px 17px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color:white;
}

