body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../../img/main.jpg');
    background-repeat: no-repeat;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: black;

}

p {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;

}

.btnn {

    width: 450px;

    text-align: center;
    margin-left: 480px;
    margin-top: 150px;

}

.bt {
    font-family: 'Baloo Bhai', cursive;
    font-size: 26px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(105, 151, 216);

}
.bt:hover {
    background-color:black;
    color: white;
}
a{
    text-decoration: none;
    color:black;
}